.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    border-bottom: 1px solid #dbdbdb;
    border-top: none;
    border-right: none;
    border-left: none;
}